[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pynacl = "*"
"discord.py" = {git = "https://github.com/PapyrusThePlant/discord.py.git", ref = "rewrite", extras = ["voice"]}
youtube-dl = "*"


[dev-packages]

